{% extends 'layout.html' %}
{% block title %}Flight Ratings{% endblock %}
{% block content %}
<h1>Ratings Summary</h1>
<table border="1" cellpadding="6">
  <tr><th>Flight</th><th>Dep Time</th><th>Avg</th><th>#Reviews</th></tr>
  {% for s in summary %}
  <tr><td>{{ s.flight_number }}</td><td>{{ s.departure_date_time }}</td><td>{{ '%.2f'|format(s.avg_rating or 0) }}</td><td>{{ s.cnt }}</td></tr>
  {% endfor %}
</table>
<h2>All Comments</h2>
<table border="1" cellpadding="6">
  <tr><th>User</th><th>Flight</th><th>Dep Time</th><th>Rating</th><th>Comment</th><th>When</th></tr>
  {% for c in comments %}
  <tr><td>{{ c.customer_email }}</td><td>{{ c.flight_number }}</td><td>{{ c.departure_date_time }}</td><td>{{ c.rating }}</td><td>{{ c.comment|e }}</td><td>{{ c.created_at }}</td></tr>
  {% endfor %}
</table>
{% endblock %}